.tagsContainer{
    width: 100vw;
    min-height: 100vh;
    font-family: neutral;
    font-size: 24px;
}
.tagsHeader{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
}
.tagsContent{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.tagMainPostContainer{
    width: 300px;
}
.backBtn{
    padding: 10px 20px;
}
